:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --accent: #f1656528;
  --main-background: #f4f0f0;
  --secondary-dark: #424242;
  --background-gradient: linear-gradient(
    to right top,
    #432c7a,
    #523383,
    #623a8b,
    #714194,
    #80489c
  );
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--background-gradient);
  height: 100vh;
}

main {
  display: grid;
  justify-content: center;
  font-size: calc(60% + 0.8vmin);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-style: none;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-background);
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  padding: 30px;
  z-index: 2;
}

.select-mode {
  display: flex;
  padding: 0;
}

.select-mode > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.select-mode > div div {
  margin: 30px;
}

.select-mode button {
  border: 5px solid black;
  border-radius: 8px;
  padding: 12px;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.select-mode p:not(footer > p) {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

footer > p {
  font-size: 1rem;
  margin-right: 10px;
}

svg:hover {
  transform: scale(1.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

input {
  appearance: none;
  background-color: inherit;
  border-radius: 8px;
  padding-left: 5px;
  max-width: 200px;
}

input:hover,
input:focus {
  background-color: var(--accent);
}

form span {
  font-size: 2rem;
}

fieldset {
  border-style: none;
  text-align: center;
  margin-bottom: 20px;
}

form button,
.winner-modal button {
  background-color: inherit;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  padding: 10px 30px;
}

.select-mode button:hover,
form button:hover,
.winner-modal button:hover {
  background-color: var(--accent);
  cursor: pointer;
  transform: translateY(-8px) scale(1.1);
  box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.3);
}

.display-player {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--secondary-dark);
  border: 5px solid var(--main-background);
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
  color: var(--main-background);
  font-size: 2em;
  font-weight: 500;
}

.display-player span {
  padding: 10px 0;
}

.line {
  background-color: var(--main-background);
  height: 100%;
  width: 5px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 200px));
  grid-template-rows: repeat(3, minmax(100px, 200px));
  gap: 8px;
  aspect-ratio: 1/1;
  background-color: var(--secondary-dark);
  border-radius: 20px;
}

.game-cell {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 8px;
  background-color: var(--main-background);
  font-size: 8em;
}

[data-index='0'] {
  border-top-left-radius: 0;
}

[data-index='2'] {
  border-top-right-radius: 0;
}

.winner-modal {
  font-size: 1.2rem;
  font-weight: 500;
}

.new-game {
  margin-right: 20px;
}

.hidden {
  display: none;
}

.X {
  color: #ffb84c;
}

.O {
  color: #f16767;
}
